<div id="profile-show" class="container">
  <div class="row">
    <div class="profile">
      <div class="col-md-4 col-xs-12">
        <!-- <% for img_id in 0..20 %>
          <% if image_path(@user.avatar).include? ('/'+img_id.to_s+'.jpg') %>
            <%= image_tag('/seed_img/'+img_id.to_s+'.jpg', class: "img-responsive center-block img-rounded") %>
          <% end %>
        <% end %> -->
        <%= image_tag @user.avatar, class: "image img-responsive center-block img-rounded" %>
      </div>
      <div class="col-md-8 col-xs-12">
        <h2 class="title"><%= @user.name %></h2>
        <h5><%= @user.email %></h5>
        <div><%= simple_format @user.intro %></div>
        <div>
          <% if @user.email == current_user.email %>
            <%= link_to "Edit Profile", edit_user_path(current_user), class: "button" %>
          <% end %>
          <%= link_to "Back To Index", root_path, class: "button" %>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <hr>
    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @commented_restaurant.count %>已評論過的餐廳</h3>
  </div>
  <div class="panel-body">
    <% @commented_restaurant.each do |restaurant| %>

    <div class="my-restaurant">
      <%= link_to restaurant_path(restaurant) do %>
        <% for img_id in 0..20 %>
          <% if image_path(restaurant.image).include? ('/'+img_id.to_s+'.jpg') %>
            <%= image_tag('/seed_img/'+img_id.to_s+'.jpg', class: "img-responsive center-block img-rounded") %>
          <% end %>
        <% end %>
        <strong><%= restaurant.name %></strong>
      <% end %>
    </div>

    <% end %>
  </div>
</div>
  </div>
</div>
