<div id="profile-show" class="container">
  <div class="row">
    <div class="profile">
      <div class="col-md-5 col-xs-12">
        <% for img_id in 0..20 %>
          <% if image_path(@user.avatar).include? ('/'+img_id.to_s+'.jpg') %>
            <%= image_tag('/seed_img/'+img_id.to_s+'.jpg', class: "img-responsive center-block img-rounded") %>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-7 col-xs-12">
        <h2 class="title"><%= @user.name %></h2>
        <h5><%= @user.email %></h5>
        <div><%= simple_format @user.intro %></div>
        <% if @user.email == current_user.email %>
          <%= link_to "Edit Profile", edit_user_path(current_user), class: "button" %>
        <% end %>
      </div>
      <div class="clearfix"></div>
    </div>
    <hr>
  </div>
</div>
