<div class="container">
  <div class="row alert_message">
    <% if @restaurant.errors.any? %>
      <div class="title">
        <h3>You have
          <%= pluralize(@restaurant.errors.count, "error") %></h3>
      </div>
      <ul>
        <% @restaurant.errors.full_messages.each do |msg|%>
          <li>
            <%= msg%>
          </li>
        <% end %>
      </ul>
    <% end %>
    <!-- 中括號標示 [:admin, @restaurant]，來告訴 Rails 要去 namespace 找到相對應的路徑 -->
    <h1 class="title"><%= title %></h1>
    <%= form_for [:admin, @restaurant] do |f| %>

    <div class="form_group">
      <%= f.label :category_id, "Category" %>
      <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: true}, {class: "form-control"} %>
    </div>

    <div class="form-group">
      <%= f.label :name, "Name" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :tel, "Tel" %>
      <%= f.text_field :tel, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :address, "Address" %>
      <%= f.text_field :address, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :opening_hours, "Opening Hours" %>
      <%= f.text_field :opening_hours, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :description, "Description" %>
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :image, "Photo" %>
      <%= image_tag @restaurant.image, width: '300px' if @restaurant.image? %>
      <%= f.file_field :image %>
    </div>
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <%= f.submit button, class: "button"%>
      </div>
    <% end %>
    <div class="col-md-3 col-xs-12">
      <%= link_to "Back to index", admin_restaurants_path, class: "button" %>
    </div>
    </div>


  <div class="clearfix"></div>
  <hr>
</div>
</div>
