<% if @restaurant.errors.any? %>
  <div>
    <h3>You have
      <%= pluralize(@restaurant.errors.count, "error") %></h3>
  </div>
  <ul>
    <% @restaurant.errors.full_messages.each do |msg|%>
      <li>
        <%= msg%>
      </li>
    <% end %>
  </ul>
<% end %>

<!-- 中括號標示 [:admin, @restaurant]，來告訴 Rails 要去 namespace 找到相對應的路徑 -->
<%= form_for [:admin, @restaurant ] do |f| %>
<%= f.label :name, "Name" %>
<%= f.text_field :name %><br>

<%= f.label :tel, "Telephone Number" %>
<%= f.text_field :tel %><br>

<%= f.label :address, "Address" %>
<%= f.text_field :address %><br>

<%= f.label :opening_hours, "Opening Hours" %>
<%= f.text_field :opening_hours %><br>

<%= f.label :description, "Description" %>
<%= f.text_area :description %><br>

<%= f.submit %>
<% end %>
