<div id="category" class="container">

  <h1 class="title">餐廳分類總表</h1>

  <div class="row">

    <div class="col-md-4 form-inline">
      <%= form_for [:admin, @category] do |f| %>
      <div class="form-group">
        <%= f.text_field :name, placeholder: "Category Name", class: "form-control" %>
      </div>
        <%= f.submit class: "button small pos" %>
      <% end %>
    </div>

    <div class="col-md-2">
      <% if @category.errors.any? %>
        <%= @category.errors.full_messages.to_sentence %>
      <% end %>
    </div>

    <div class="right">
      <%= link_to "Restaurant", admin_restaurants_path , class: "front-a"%>
      <%= link_to "Categories", admin_categories_path %>
    </div>

    <div class="clearfix"></div>
    <br>
    <div class="col-md-12">

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Category Name</th>
            <th>Method</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>

            <tr>
              <th scope="row"><%= category.id %></th>
              <td><%= category.name %></td>
              <td>
                <%= link_to "Edit", admin_categories_path(id: category.id) %>
                <%= link_to "Delete", admin_category_path(category), method: :delete, data: { confirm: "Are you sure?"} %>
              </td>
            </tr>

          <% end %>
        </tbody>
      </table>

    </div>

  </div>

</div>
